* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 600px;
  height: 40px;
  margin: auto;
}

.nav-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5rem;
  padding: 0.8rem 0;
}

.nav-flex-container ul li a:hover {
  text-decoration: underline;
}

.menu {
  list-style-type: none;
  display: flex;
  margin: 0 15px;
  align-items: center;
}

.menu a {
  margin: 0 15px;
}

#welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 2rem;
}

#welcome-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-section img {
  width: 50%;
  height: 50%;
}

#welcome-section h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

#welcome-section p {
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.8;
}

/* Client Section */

#clients-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 0 2rem;
}
/* .description {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
} */

#clients-section h3 {
  color: rgb(108, 99, 255);
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#clients-section h2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

#clients-section p {
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.8;
}

.client-graphic {
  height: 400px;
  width: 400px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box {
  border: black 3px solid;
  border-radius: 50%;
}

.box:first-child {
  background-color: rgb(108, 99, 255);
  grid-column: 1 / span 2;
  transform: rotate(36deg);
}

.box:nth-child(2) {
  background-color: rgb(95, 197, 212);
  grid-row: 2 / span 2;
  transform: rotate(32deg);
}

.box:nth-child(3) {
  background-color: rgb(246, 248, 169);
  grid-row: 2;
  grid-column: 3 / span 3;
  transform: rotate(288deg);
}

.box:nth-child(4) {
  background-color: red;
  grid-row: 3;
  grid-column: 3 / span 3;
  transform: rotate(252deg);
}

.box:nth-child(5) {
  background-color: rgb(95, 197, 212);
  grid-row: 2 / span 1;
  transform: rotate(338deg);
}

.box:nth-child(6) {
  background-color: rgb(232 169 248);
  grid-row: 2;
  grid-column: 3 / span 3;
}

.box:nth-child(7) {
  background-color: grey;
  grid-row: 3;
  grid-column: 2 / span 2;
  transform: rotate(-55deg);
}

/* End of client section */

@media only screen and (max-width: 1024px) {
  .nav-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-flex-container h2 {
    margin-bottom: 0.8rem;
  }
}

@media only screen and (max-width: 1024px) {
  #welcome-section {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  #welcome-section {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  #welcome-section .container {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  #clients-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .box:nth-child(2) {
    transform: rotate(349deg);
  }
}
